---
import IconChevronLeft from "@/assets/icons/IconChevronLeft.svg";
import { SITE } from "@/config";
---

{
  SITE.showBackButton && (
    <a
      id="back-button"
      href="/"
      class="focus-outline flex items-center gap-2 text-sm hover:text-foreground/75 focus-visible:outline-2 focus-visible:outline-accent focus-visible:outline-dashed"
    >
      <IconChevronLeft class="size-4 rtl:rotate-180" />
      <span>Back</span>
    </a>
  )
}

<script>
  /* Update Search Praam */
  function updateGoBackUrl() {
    const backButton: HTMLAnchorElement | null =
      document.querySelector("#back-button");

    const backUrl = sessionStorage.getItem("backUrl");

    if (backUrl && backButton) {
      backButton.href = backUrl;
    }
  }

  document.addEventListener("astro:page-load", updateGoBackUrl);
  updateGoBackUrl();
</script>
